@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-regular.ttf) format('truetype-variations');
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-italic.ttf) format('truetype-variations');
  font-style: italic;
}

:root {
  --font-size: 16;
  --line-height: 20;

  --transition-duration-short: 0.125s;
  --transition-duration-medium: 0.25s;

  --text-color: #000;

  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: calc(1px * var(--font-size));
  line-height: calc(var(--line-height) / var(--font-size));
  overflow: hidden;
}
body {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Canvas layout */
.canvas-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
  z-index: 0;
}
.canvas {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
